# Datasets
datasets/
data/
cats_set/
dogs_set/

# Chroma vector database
Deep_Learing/RAG/data/vector_store/

Reinforcement_learing\manual/

# Images
*.jpg
*.jpeg
*.png
*.csv
*.db
# Python cache
__pycache__/
.ipynb_checkpoints/

# Models
*.h5
*.pth
*.pt
*.pkl

# Environment
venv/
.env